/*This adds font characteristics to the text of the main h1 header on all pages*/
h1#adopt-and-make-2-lives-better {font-family:'Lucida Sans'; 
                                    text-align: center; 
                                    font-style: italic; 
                                    font-weight: bold;
                                }
/*The "ul#nav" and "ul#nav li" develops the black stage background for my navigation on each page*/
ul#nav {list-style-type: none; 
        padding: 0; 
        overflow: hidden; 
        background-color: black;
    }
ul#nav li {float: left;
}
/*This defines the spacing, color, and text characteristics for my navigation buttons on each page*/
li a {display: block; 
        color: antiquewhite; 
        text-align: center; 
        padding: 16px; 
        text-decoration: none;
    }
/*This adds font characteristics as well as a ridged, colored border around my main statement of text on my home page*/
p#statement {font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
    font-family:'Gill Sans';
    padding: 10px;
    border-style: ridge;
    border-color: blueviolet;
    border-width: 5px;
    margin: 5px;
}
/*This adds font and text characteristics to the text of the h1 headers on my resources page*/
h1#commonnecessities {font-family:'Lucida Sans'; 
                        text-align: left; 
                        font-style: italic; 
                        font-weight: bold;
                        color: blueviolet;
                    }
h1#petcare {font-family:'Lucida Sans'; 
            text-align: left; 
            font-style: italic; 
            font-weight: bold;
            color: blueviolet;
        }
/*This adds an underline on my text for my small headers throughout the website*/
h3, h2 {text-decoration: underline;
        color: blueviolet;
}
/*This adds a text color and a ridged, black border around the information a user would fill in on the form*/
form p {padding: 10px;
        border-style: ridge;
        border-color: black;
        border-width: 3px;
        margin: 5px;
        text-align: left;}
/*This adds a solid, rounded black border between my common necessities section and pet care section*/
hr {position: relative; 
    border: 3px solid black;
    border-radius: 10px;
}
img#dog1, img#dog2, img#dog3, img#dog4, img#dog5 {padding-top: 24px;}